@import '~antd/dist/antd.less';
.basic-layout {
  text-align: justify;

  min-height: 100vh;
}
.logo {
  img {
    max-height: 55px;
    max-width: 100%;
    padding: 0 8px;
    margin-top: 5px;
    border-radius: 5px
  }
}
.bl-header {
  background: #fff;
  padding: 0 0 0 16px
}
.bl-content {
  margin: 20px;
  padding: 20px 20px 0; 
  background: #fff;
  min-height: 280px
}
.bl-footer {
  text-align: center;
  padding: 0 12px 12px
}
::-webkit-scrollbar{
  // margin: 2px 2px;
  width:9px;
  border-radius: 4px;
  background: transparent;
      transition: all 0.3s ease;
  border: 0 2px 0 0 solid white
}

::-webkit-scrollbar:hover{
  background: #c6c7ca;
}
::-webkit-scrollbar-track {
  border: solid 3px transparent;
}
::-webkit-scrollbar-thumb{
  background:#828282;
  border-radius: 5px;
}
.ant-modal-wrap ant-modal-centered {
  background: #87bc26
}
